<div class="container">
  <div class="row personal-profile">
    <div class="col-md-12">
      <p class="personal-profile__name">Annaba Tech Day_</p>
      <p class="personal-profile__work">{{ .Site.Params.slogan }}</p>
      <div class="personal-profile__contacts">
        <dl class="contact-list contact-list__opacity-titles">
	  {{ range $info := .Site.Params.Info }}
	  <dt>{{ index $info "label" }}:</dt>
	  <dd>
	    {{ if isset $info "link" }}<a href="{{ index $info "link" }}">{{ end }}
	    {{ index $info "value" }}
	    {{ if isset $info "link" }}</a>{{ end }}
	  </dd>
	  {{ end }}
        </dl>
      </div>
      <a class="btn btn-light btn-sm float-right" href="{{ .Site.Params.Social.Registration }}" target="_blank" style="margin-bottom: 15px;"><i class="fa fa-calendar-check-o"></i> Registrations are open!</a>
      {{ partial "social.html" . }}

    </div>
  </div>
</div>
