<section id="speakers" class="container section">
    <!-- Speakers -->
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h1 id="blog_header" class="section_title"><a href="" alt=""></a>>> Speakers</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <style>
                        .speaker {
                            text-align: center;
                            margin-top: 20px;
                        }

                        .speaker .name {
                            text-align: center;
                            text-transform: uppercase;
                            color: #6d56c1;
                            font-size: 14px;
                            line-height: 20px;
                            font-family: "Roboto Mono", monospace;
                            font-weight: 700;
                            padding-bottom: 5px;
                            margin-top: 20px;
                            padding: 5px 20px;
                        }

                        .speaker .resume {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    </style>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker1.png" />
                                <div class="name">Mohamed Cherif BOUCHLAGHEM</div>
                                <div class="resume">Bio</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker2.png" />
                                <div class="name">Raouf Rahiche </div>
                                <div class="resume">Freelence SoftWare Developer <br />Embarcadero MVP</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker3.png" />
                                <div class="name">First Name and Last Name</div>
                                <div class="resume">Bio</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker4.png" />
                                <div class="name">First Name and Last Name</div>
                                <div class="resume">Bio</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker5.png" />
                                <div class="name">Djelloul BOUIDA</div>
                                <div class="resume">Bio</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Speakers -->
</section>