<section id="speakers" class="container section">
    <!-- Speakers -->
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h1 id="blog_header" class="section_title"><a href="" alt=""></a>>> Mentors</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <style>
                        .speaker {
                            text-align: center;
                            margin-top: 20px;
                        }

                        .speaker .name {
                            text-align: center;
                            text-transform: uppercase;
                            color: #6d56c1;
                            font-size: 14px;
                            line-height: 20px;
                            font-family: "Roboto Mono", monospace;
                            font-weight: 700;
                            padding-bottom: 5px;
                            margin-top: 20px;
                            padding: 5px 20px;
                        }

                        .speaker .resume {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    </style>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker1.png" />
                                <div class="name">Mohamed Cherif BOUCHLAGHEM</div>
                                <div class="resume"> Senior Full-Stack Developer with more than 10 years of experience developing Web sites and applications. Member of DoneJS framework core team. Skilled in many major programming languages with focus on JavaScript, Java and PHP. Hands-on experience with Agile software development methodologies like Scrum and Kanban.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker2.png" />
                                <div class="name">Raouf Rahiche </div>
                                <div class="resume">Freelance software developer, Embarcadero's MVP (Most Valuable Professional), Flutter passionate and  Youtube tech-content creator.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker7.png" />
                                <div class="name">Walid Ziouche</div>
                                <div class="resume">A software engineer with more than 07 years experience in web and software development. Mainly as a Python/Golang developer, with a focus on the backend side of the web and a bit of devops and Linux systems administration.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker4.png" />
                                <div class="name">Dr. Abdelaziz Amara Korba</div>
                                <div class="resume">Associate Professor within the Department of Computer science, Badji Mokhtar Annaba university, a member of MOBIMAD at Networks and Systems Laboratory (LRS) at Badji Mokhtar university. His research interests include cybersecurity, intrusion detection, machine learning for anomaly detection, and wireless network security. </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="speaker">
                                <img class="img-fluid" src="/images/mentors/Speaker5.png" />
                                <div class="name">Djelloul BOUIDA</div>
                                <div class="resume">RHCA&reg; Level IV, RHCI&reg;, RHCX&reg;, Senior Solution Architect, Red Hat and Zimbra trainer and consultant with proficient skills on Linux System administration, Virtualization, middleware, Cloud and system infrastructure management. Djelloul has some advanced skills on Apache, DNS, SAMBA, FTP, NFS, SELINUX, Clustering technology and System & infrastructure Management, Virtualization - Xen, KVM, RHEV and Vmware.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Speakers -->
</section>